.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}
a {
    text-transform: none !important;
}
.Sign:hover {
    color: $secondary;
}
.display-eye {
    border: 1px solid #ced4da;
    border-left: 0 !important;
    padding: 10px;
    border-radius: 3px;
    height: 38px;
    display: flex;
    align-items: center;
}
.hidden-password {
    input {
        border-right: 0 !important;
        height: 38px;
    }
}
