.display-none {
    display: none;
}

.element-title {
    font-weight: 900;
    color: #EEEEEE;
    font-size: 2em;
    white-space: nowrap;
    position: absolute;
    left: 0;
    line-height: 1;
    letter-spacing: 1rem;
    z-index: -1;
    text-align: center;
    width: 100%;
    font-family: AlfredoHeavy;
}

.title-h1 {
    font-family: AlfredoHeavy;
    color: #3399cc;
    font-weight: 900;
    font-size: 3.4375em;
    position: relative;
    display: block;
    z-index: 5;
    line-height: 1.2;
}

.icon-rounded {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 25px;
    height: 40px;
    width: 40px;
}